<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
<style>
form{
  margin:10%;
  max-width: 670px;
  height:auto;
}
input:required:invalid, input:focus:invalid {
background-color:red;
  }
  input:required:valid {
    background-color:green;
  }
.warning{
  color:red;
  font-weight:bold;
}
</style>
</head>
<body>
<form class="form-horizontal" role="form" ng-submit="fc.submit()">
  <div class="panel panel-default">
  <div class="panel-heading">
    Register
  </div>
  <div class="panel-body">
    <div class="form-group has-feedback" id="divName">
      <label class="control-label col-sm-3" for="forumName">Forum Name </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="forumName" ng-model="fc.forum.forumName" required >
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 warning" id="warning1">
        
      </div>
    </div>
    
    <div class="form-group has-feedback" id="divEmail">
      <label class="control-label col-sm-3" for="forumContent">Content </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="forumContent" ng-model="fc.forum.forumContent" required>
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 warning" id="warning2">
        
      </div>
    </div>
    
    
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Submit</button>
      </div>
    </div>
  </div>
</div>  
</form>
<script>
$(document).ready(function(){
	  if($('#id').val()===""){
	    $('#warning1').html("The name field is required.")
	  }
	})
</script>
</body>
</html>